fastapi[all]      
fasteners[all]      
fastjsonschema[all]       
huggingface-hub[all]     
idna[all]   
importlib-metadata[all]      
importlib-resources[all]     
inflection[all]     
install[all]     
keras[all]     
Keras-Preprocessing[all]     
keyring[all]      
numpy[all]      
opencv-python[all]        
openpyxl[all]      
pandas[all]     
pandocfilters[all]     
paramiko[all]     
parso[all]     
pathspec[all]     
pendulum[all]     
pexpect[all]     
pickleshare[all]     
pydantic[all]      
pymongo[all]     
PyYAML[all]       
regex[all]         
reportlab[all]      
requests[all]      
swagger-ui-bundle[all]     
tensorboard[all]     
tensorboard-data-server[all]     
tensorboard-plugin-wit[all]     
tensorflow[all]     
tensorflow-estimator[all]     
tensorflow-io-gcs-filesystem[all]      
termcolor[all]     
terminado[all]      
tokenizers[all]      
torch[all]
torchaudio[all]     
torchvision[all]
tornado[all]   
tqdm[all]      
traitlets[all]     
transformers[all]      
virtualenv[all]       
websockets[all]    
