absl-py[all]
aiofiles[all]
alembic[all]
apispec[all]
appdirs[all]
argcomplete[all]
asttokens[all]
astunparse[all]
async-exit-stack[all]
async-generator[all]
attrs[all]
Babel[all]
backcall[all]
base  [all]
bcrypt[all]
bleach[all]
blinker[all]
cachelib[all]
cachetools[all]
dnspython[all]     
docutils[all]    
duplicity[all]        
fastapi[all]      
fasteners[all]      
fastjsonschema[all]      
filelock[all]     
fire[all]     
future[all]      
gast[all]     
gdown[all]     
httpcore[all]      
httplib [all]      
httptools[all]     
httpx[all]      
huggingface-hub[all]     
idna[all]   
importlib-metadata[all]      
importlib-resources[all]     
inflection[all]     
install[all]     
ipykernel[all]      
ipython[all]     
ipython-genutils[all]     
ipywidgets[all]     
itsdangerous[all]     
jedi[all]      
Jinja [all]     
jsonschema[all]     
jupyter[all]     
jupyter-client[all]     
jupyter-console[all]     
jupyter-core[all]      
jupyterlab-pygments[all]     
jupyterlab-widgets[all]     
keras[all]     
Keras-Preprocessing[all]     
keyring[all]      
language-selector[all]   
launchpadlib[all]       
lazy-object-proxy[all]     
libclang[all]      
linkify-it-py[all]     
lockfile[all]      
louis[all]      
mtcnn[all]     
nbclient[all]     
nbconvert[all]     
nbformat[all]     
nest-asyncio[all]     
netifaces[all]      
notebook[all]      
numpy[all]      
oauthlib[all]     
olefile[all]    
opencv-python[all]        
openpyxl[all]      
opt-einsum[all]     
orjson[all]     
packaging[all]    
pandas[all]     
pandocfilters[all]     
paramiko[all]     
parso[all]     
pathspec[all]     
pendulum[all]     
pexpect[all]     
pickleshare[all]     
Pillow[all]     
pluggy[all]     
prison[all]     
prometheus-client[all]      
prompt-toolkit[all]      
protobuf[all]      
psutil[all]     
ptyprocess[all]     
pure-eval[all]     
pyasn[all]     
pycairo[all]      
pycparser[all]    
pycups[all]      
pydantic[all]      
Pygments[all]      
PyGObject[all]      
PyJWT[all]     
pymacaroons[all]      
pymongo[all]     
PyNaCl[all]     
pyparsing[all]     
pyrsistent[all]      
PySocks[all]     
python-apt[all]
python-daemon[all]     
python-dateutil[all]     
python-debian[all]
python-dotenv[all]      
python-multipart[all]     
python-nvd[all]      
python-slugify[all]     
pytz[all]      
pytzdata[all]      
pyxdg[all]    
PyYAML[all]     
pyzmq[all]      
qtconsole[all]     
regex[all]         
reportlab[all]      
requests[all]      
simplejson[all]      
six[all]      
sniffio[all]     
stack-data[all]     
starlette[all]      
swagger-ui-bundle[all]     
systemd-python[all]   
tabulate[all]      
tenacity[all]     
tensorboard[all]     
tensorboard-data-server[all]     
tensorboard-plugin-wit[all]     
tensorflow[all]     
tensorflow-estimator[all]     
tensorflow-io-gcs-filesystem[all]      
termcolor[all]     
terminado[all]      
text-unidecode[all]   
tinycss [all]     
tokenizers[all]      
torch[all]
torchaudio[all]     
torchvision[all]
tornado[all]   
tqdm[all]      
traitlets[all]     
transformers[all]      
ttystatus[all]    
typing[all]       
typing_extensions[all]     
ufw[all]    
ujson[all]     
urllib [all]      
uvicorn[all]      
uvloop[all]      
virtualenv[all]       
wadllib[all]     
watchfiles[all]      
wcwidth[all]     
webencodings[all]     
websockets[all]    
Werkzeug[all]     
widgetsnbextension[all]     
wrapt[all]      
xkit[all]     
xlrd[all]     
zipp[all]     
